# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store 

# Ignore all files in the dist directory
dist/*

.husky/*